<h1 class="text-center py-5 text-4xl uppercase font-bold text-gray-600">Todos los productos</h1>

<a 
  href="/realtimeproducts" 
  class="block size-fit mx-auto text-xl text-gray-500 font-semibold hover:text-amber-700 transition-colors pb-10"
>Agregar más</a>

<div 
  class="w-[90%] mx-auto flex flex-wrap gap-16 justify-center mb-20" 
  id="products-box"
>

</div>